# Ignore Python virtual environment
.venv/
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs & PID files (artefacts runtime de run.sh / mock.sh)
*.log
*.pid

# Ignore environment variables
.env

# Ignore IDE configs
.idea